.head_wrap{
    background-size: cover;
    padding-top: 14px;
    padding-bottom: 19px;
    text-align: center;
}
.head_wrap h3{
    color: tomato;
    font-weight: 600;
}
.addnew_wrap{
    margin-top: 5%;
    margin-bottom: 30px;
}
.addnew_wrap label{
    font-size: 17px;
    font-weight: 600;
}
.addnew_wrap .nameinput{
    margin-left: 15px;
    margin-bottom: 25px;
    padding-left: 20px;
}
.priceinput{
    margin-left: 21px;
    margin-bottom: 25px;
    padding-left: 20px;
}
.imginput{
margin-left: 12px !important;
margin-bottom: 25px ;
padding-left: 20px;
}
.addnew_wrap button{
    border: none;
    padding: 11px;
    font-weight: bold;
    border-radius: 5px;
    color: tomato;
    background-color: black;
}